body {
  background-color: hsl(0,0%,95%);
}

button, input[type=button] {
  text-transform: uppercase;
}

#output {
  font-family: monospace;
  border: solid 1px black;
  margin: 2rem;
  padding: 0;
  background-color: hsl(0,0%,90%);
  min-height: 3rem;
}

#output > * {
  padding: 0.4rem;
  margin: 0;
  border-bottom: solid 1px black;
}

#output>*:nth-child(1) {
  background-color: hsl(0,0%,100%);
}

.highlight {
  background-color: hsl(40,100%,70%);
}